apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: datatrust360
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.52.0
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: datatrust360
spec:
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: datatrust360
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: "datatrust360"
        metrics_path: /actuator/prometheus
        static_configs:
          - targets:
              - "auth-gateway:8080"
              - "ingest-rest:8081"
              - "ingest-grpc:8082"
              - "storage-service:8083"
              - "processing-worker:8084"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: datatrust360
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:11.0.0
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: datatrust360
spec:
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
